* {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
  }
  
  body {
    background: rgb(241, 238, 232);
  }
  
  .todo {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 5em;
    padding: 1em;
    flex-direction: column;
    background: white;
    height: auto;
    justify-content: center;
    align-content: center;
  }
  
  .items {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
  }
  
  .box {
    width: 20px;
    height: 20px;
  }
  
  #edit {
    display: none;
  }
  
  #trash {
    display: none;
  }
  
  input {
    border: none;
    outline: none;
  }
  
  input:focus {
    outline: none;
  }
  
  .description {
    border: none;
    outline: none;
  }
  